<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icone_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.PedroLuis">
        <activity
            android:name=".TrocaSenhaActivity"
            android:exported="false" />
        <activity
            android:name=".ConfigActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".UmiArActivity"
            android:exported="false" />
        <activity
            android:name=".TemperaturaActivity"
            android:exported="false" />
        <activity
            android:name=".PhActivity"
            android:exported="false" />
        <activity
            android:name=".NivelAguaActivity"
            android:exported="false" />
        <activity
            android:name=".LuminosidadeActivity"
            android:exported="false" />
        <activity
            android:name=".MenuActivity"
            android:exported="false" />
        <activity
            android:name=".IndiceCalorActivity"
            android:exported="false" />
        <activity
            android:name=".AeradorActivity"
            android:exported="false" />
        <activity android:name=".CadastroActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="org.eclipse.paho.android.service.MqttService" />
    </application>

</manifest>